.navbarnav{
  background-color:#0C0032;
}
.nav-link{
  color:white !important; 
 }

#navlinkstylehome{
 text-decoration:none;
 color:white;
}

#ul{
  
}
#li{
  display: inline;
}


.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}